<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # If your app is not on root, uncomment the next line and point to your path
    #RewriteBase /path/to/app
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
